.splide__pagination {
    bottom: -2em;
}

.splide__arrow {
    background: var(--primary);
}

.splide__arrow svg {
    fill: var(--white);
}

.splide__pagination__page.is-active {
    background: var(--blue-gradient);
}