.skillJumbo p, .skillJumbo h2 {
    text-align: center;
}

.skillJumbo h2 {
    margin-bottom: 1em;
    letter-spacing: 1px;
    font-size: 1.5em;
}
.Typewriter {
    display: inline-block;
}
.skillJumbo .slugline {
    text-align: center;
    line-height: 1.7;
}

.skillJumbo div a, .skillJumbo div a:visited {
    color: var(--white);
    text-decoration: none;
}

.skillJumbo div a:hover {
    border-bottom: 1px solid var(--white);
}

@media screen and (max-width: 1000px){

    .skillJumbo h2 {
        font-size: 1.4em;
    }

    .skillJumbo .slugline {
        font-size: 1em;
    }
}
