.socials {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.5em;
    margin: 3em 0;
}

.socials li a svg {
    fill: var(--black);
    height: 32px;
    width: 32px;
}

@media screen and (max-width: 1000px) {
    .socials {
        justify-content: center;
    }
}
