.aboutSection {
    background: var(--blue-gradient);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: var(--white);

}

.aboutSection img {
    width: clamp(200px, 40%, 300px);
    height: auto;
}

.aboutSection h2 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1em;
    margin-bottom: 1em;
}

.aboutSection p {
    max-width: 65ch;
    text-align: center;
    line-height: 2;
    font-size: clamp(1em, 1.1em, 1.15em);
}

.aboutSection  .router-link {
    color: var(--white);
    text-decoration: none;
    transition: 0.4s;
}

.aboutSection .router-link:hover::after {
    content: ' »'
}
@media screen and (max-width: 700px) {
    .aboutSection {
        padding: 1.5em;
    }
}
