.aboutSection {
    background: var(--blue-gradient);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: var(--white);

}

.aboutSection img {
    margin-top: 2em;
    width: 200px;
    height: auto;
}

.aboutSection h2 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1em;
    margin: 1em 0;
    font-size: 1.2em;
}

.aboutSection p {
    max-width: 65ch;
    text-align: center;
    line-height: 2;
    font-size: 1em;
    margin-bottom: 1em;
}

.aboutSection  .router-link {
    color: var(--black);
    background-color: var(--white);
    padding: 1em;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.aboutSection .router-link:hover::before {
    content: url("../assets/arrow_left.svg");
}
@media screen and (max-width: 700px) {
    .aboutSection {
        padding: 1.5em;
    }
}
