footer {
    max-width: 1220px;
    margin: 0 auto;
}

footer div {
    margin: 1.5em 0;
    gap: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div h3 {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, auto);
    grid-gap: 5px;
}

@media screen and (max-width: 1000px) {
    footer div:not(:last-child) {
        flex-direction: column;
    }

    footer div:last-child, hr {
        margin: 0 1em;
    }
}
