.progetti {
    padding: 77px;
    min-height: 80vh;
    background: var(--blue-gradient);
    color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.progetti p, .progetti h2 {
    text-align: center;
}

.progetti h2 {
    margin-bottom: 1em;
    letter-spacing: 1px;
    font-size: 1.7em;
}

.progetti .slugline {
    font-size: 1.3em;
    line-height: 1.7;
}
